<h1>Welcome to your Cookbook</h1>

<p>You currently have in your cookbook:</p>

<ul>
  <% @recipes.each_with_index do |recipe, index| %>
    <li><%= recipe.name %>: <%= recipe.description %>, Prep time: <%= recipe.prep_time %>, <%= recipe.difficulty %>  - <a href="/recipes/<%= index %>">Delete</a></li>
  <% end %>
</ul>

<a href="/new">Add a recipe</a>
